* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/*removed div header and used semantic header tag instead*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

/* navigation bar code */
header nav {
    padding-top: 20px;
    margin-right: 15px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/*Removed URL here and added image and alt text to html to make the image more accessible */
/*formatting for large image just below navigation bar */
.main-image {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* allows images in Search Engine Optimization and Social Media Marketing sections to display left within their boxes */
.float-left {
    float: left;
    margin-right: 25px;
}

/* allows image in Online Reputation Management section to display right within its box */
.float-right {
    float: right;
    margin-left: 25px;
}

/* formatting to allow Search Engine Optimization, Online Reputation Management and Social Media Marketing sections to stay on the left side of the side bar and stack on top of each other */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* formatting for right side bar */
.benefits {
    margin-right: 20px;
    margin-bottom: 32px;
    color: #ffffff;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* formatting for right side bar headings */
.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* formatting for right side bar images */
.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* formatting for right side bar to break text into three sections */
.benefits section {
    margin-bottom: 30px;
}

/*added id=search-engine-optimization in html to allow link to work properly */
/*general formatting for Search Engine Optimization, Online Reputation Management and Social Media Marketing sections */
.main-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*added alternative text for all images*/
/*formatting for images in Search Engine Optimization, Online Reputation Management and Social Media Marketing sections */
.main-section img {
    max-height: 200px;
}

/*formatting for headers in Search Engine Optimization, Online Reputation Management and Social Media Marketing sections */
.main-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*removed div footer and used semantic footer tag instead */ 
/* I chose to increase padding to accommodate the Social Media Marketing link, so it would display at the top of the screen like the Search Engine Optimization and Online Reputation Management sections*/
/* added my own copyright instead of existing one */
footer {
    padding-top: 150px;
    padding-bottom: 20px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    text-align: center;
}


